<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CompraloTó - @ViewBag.Title - LosMegaCursos.com</title>

<link href="~/public/css/bootstrap.css" rel="stylesheet" />

