@{
    ViewBag.Title = "Registro de nuevo usuario";
}

<div class="alert alert-success">
    <p>
        Gracias por registrarse con nosotros.
    </p>
    
    <p>
        Se ha enviado un email a la dirección de correo electrónico proporcionada con las instrucciones de activación
    </p>
</div>