
<style>

    .topMenu
    {
        background-color:gainsboro;
        line-height:20px;
    }

</style>


<div class="topMenu">


    <img src="~/public/images/logo.jpg" style="max-height:60px;" />

</div>
