<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CompraloTó - @ViewBag.Title - LosMegaCursos.com</title>

@if (Utils.InProduction)
{
<link href="~/public/css/master.min.css?ver=@Utils.AssemblyVersion" rel="stylesheet" />
}
else
{
<link href="~/public/css/master.css" rel="stylesheet" />
}


